//.chart {
//  position: absolute;
//  bottom: 0px;
//  font: 10px sans-serif;
//  border-radius: 5px;
//  //border-bottom: 2px;
//  webkit-box-shadow: 3px 0 3px rgba(0,0,0,.25);
//  box-shadow: 3px 0 3px rgba(0,0,0,.25);
//}

.chart {
  position: fixed;
  bottom: 0px;
  left: 400px;
  font: 10px sans-serif;
  background-color: white;
  //background-image: linear-gradient(#4f4f4f, #232323);
  border-radius: 5px;
  border-left: 2px solid gray;
  webkit-box-shadow: 3px 0 3px rgba(0,0,0,.25);
  box-shadow: 3px 0 3px rgba(0,0,0,.25);
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: 1px;
}

.axis path {
  display: none;
}

.x.axis line {
  stroke: #777;
}

.y.axis text {
    font-size: 11px;
}

.x.axis text {
    font-size: 13px;
}

.bar:hover {
    fill: #88bbee;
    cursor: pointer;
}

.bar-label:hover {
    font-weight: bold;
    cursor: pointer;
}


.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke-width: 1.5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.focus, .info, .legend { 
  font-weight: bold;
  font-size: 11px;
}

.legend text { 
  opacity: 0.7;
}

.focus circle {
  fill: none;
  stroke-width: 1.5px;
  stroke: #000;
  stroke-opacity: 0.3;
}

.brush {
  stroke: #ec008c;
  stroke-width: 3px;
  stroke-linecap="round";
  //stroke-width: 1px 3px 1px 3px;
  fill: #faafdb;
  fill-opacity: .15;
  shape-rendering: crispEdges;
}

.chart-options { 
  position: absolute;
}

.chart-settings {
  float: left;
  width:100%;
  background-image: linear-gradient(#4f4f4f, #232323);
  border-radius: 3px;
  webkit-box-shadow: 2px rgba(255,255,255,.25);
  box-shadow: 2px rgba(255,255,255,.25);
  //position:absolute;
  //position:relative;
  //width:100%;
  //height:100%;
  //margin-top:0px;
}


div#animControls {
  float:left;
  margin-top:10px;
  padding:0px;
  margin-left: 10px;
}

.chart-compare { 
  position: relative;
  float:left;
  margin-top:10px;
  font-size: 12px;
}



.compare-input {
  float:left;
  height: 10px;
  width: 200px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
  webkit-box-shadow: 0 0 2px rgba(255,255,255,.25);
  box-shadow: 0 0 2px rgba(255,255,255,.25);
}

.chart-details {
  float: left;
  list-style: none;
  margin-top: 5px;
}

.detail-container {
  float: left;
  //float: top;
  display: block;
  margin: 8px 10px 2px 10px;
}

.detail { 
  float:left;
  margin: 0;
  min-height: 20px;
  font-size: 11px;
}

.detail-legend { 
  float: left;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 2px;
}

.detail-legend.hover {
  border: 1px solid #888;
}

.detail-text { 
  float: left;
  color:white;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.detail-text.hover { 
  font-weight: bold;
}

.sprites.remove {
  float: left;
  margin-left: 5px;
  //position: absolute;
  //right: 0;
  //top: 0;
}



