path {
    stroke: #777;
    stroke-width: 1.5;
    fill: "#333";
    fill-opacity: 0.75;
}

path:hover {
    fill: brown;
    stroke: #4684B5 !important;
    cursor: pointer;
    stroke-width: 3;
}

    


